body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  background-color: #f9f9f9;
}

header {
  padding: 20px;
}

.logo {
  width: 150px;
  height: auto;
  border-radius: 50px; /* Bordes más redondos */
}

h1 {
  color: #333;
  margin-top: 10px;
}

.login-container {
  margin: 30px auto;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  border: 2px solid green;
  border-radius: 10px;
  background-color: white;
}

.login-container input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid green;
  border-radius: 5px;
  color: black;
  font-size: 16px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Botones adicionales fuera del login */
.extra-buttons {
  margin-top: 20px;
}

.extra-buttons button {
  width: 90%;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

footer {
  background-color: #eee;
  padding: 15px;
  font-size: 14px;
}

footer a {
  color: green;
  text-decoration: none;
}
