body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  background-color: #f8f8f8;
}

header {
  padding: 20px;
  background-color: #fff;
}

.logo {
  width: 150px;
  border-radius: 20px;
}

h1 {
  margin: 10px 0;
  color: #333;
}

.botones-principales {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: green;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

input, select {
  display: block;
  width: 80%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid green;
  border-radius: 5px;
  color: black;
}

form {
  margin-top: 20px;
}

.hidden {
  display: none;
}

footer {
  margin-top: 50px;
  background-color: #eee;
  padding: 20px;
  font-size: 14px;
}
